<!-- <div class="container" style="background-color: darkgray;">
<p>test work-- Input</p>
<div *ngFor="let emp of parentData;">
    <p>{{ emp | json }}</p>
    </div>
<p>{{ parentData2 }}</p>

<div class="container" style="border: 2px; background-color: cornsilk;" *ngFor="let emp of parentData;">
    <p>{{ emp.empName }} {{emp.empAge}}</p>
    </div>   


    <br><br>
    <p>test work-- Output</p>
    <input type="text" [(ngModel)]="name1"/>
<button (click)="onButtonClick()">Send data to Parent</button>
</div> -->