
<div class="container" style="margin-top: -110px;">
<div class="row">
  <div class="card" style="width: 15rem; margin: 10px;" *ngFor="let c of catogeries">
    <div style="height: 180px;">
      <img class="card-img-top" src="{{_imgUrl+c.catImage}}" alt="Card image cap" width="10%">
    </div>
      <h5 style="text-align: center;" class="card-title">{{c.catName}}</h5>
      <!-- <p class="card-text">{{c.slug}}</p> -->
      
      <a class="btn" (click)="onSelectCat(c)" style="background-color: orange;">Buy</a>
  </div>
</div>
</div>
<br><br> 



