div{
    border: black dotted 1px;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin: 30px auto;
    background-color: lavender;
    padding: 25px;
    box-sizing: border-box;
}
input[type="email"],input[type="password"]{
    width: 300px;
    padding: 4px;
}
input[type="button"],button{
    
    background-color: teal;
    border-style: none;
    color: white;
    font-size: 18px;
    padding: 6px;
    width: 100px;
   
    
}
#ihover:hover{
    background-color: ivory;
}
