

<div class="div1">
<footer>this is footer</footer>

<div class="container">
    <table class="table table-responsive">
        <thead class="table-dark">
            <tr>
                <th style="width: 60px; text-align: center;">ID</th>
                <th>Name</th>
                <th style="text-align: center;">Age</th>
                <th style="text-align: center;">Gender</th>
                <th style="text-align: center;">Salary</th>
                <th style="text-align: center;">DoB</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td style="width: 60px; text-align: center;">{{emp.empId}}</td>
                <td style="width: 200px;">{{emp.empName }}</td>
                <td style="text-align: center;">{{emp.empAge}}</td>
                <td style="text-align: center;">{{emp.empGender}}</td>
                <td style="width: 90px; text-align: center;">{{emp.empSal}}</td>
                <td>{{emp.empDoB}}</td>
            </tr>
        </tbody>
    </table>
    </div>

</div>