
<div class="jumbotron jumbotron-responsive" style="background-color: cornsilk;" >
        <div class="text-white text-dark text-center px-3">
            <div style="background-color:darkcyan; height: 100px; margin-top: -70px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                <br>
                <img src="../assets/storeLogo.jpg" width="110px" style="border-radius: 15px;">
            </div><br><br>
                <h2 class="card-title h1-responsive pt-3 font-bold"><strong>Chilu's Store</strong></h2>
                <p class="mx-5 mb-1">Scroll chey; Grocery Pattu</p>
                <p style="font-family: chiller; font-size: 24px;">Mana daggara Beralu levvammaa.....!!!!</p> 
        </div>
    </div>
